<!DOCTYPE html>
<html>
<head>
  <title>RSVP Tool</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>RSVP Tool</h1>

    <nav>
      <a href="/users">Users</a> | 
      <a href="/events">Events</a>
    </nav>
<%= yield %>

</body>
</html>
